<form action="/login" method="POST">
  <input type="text" name='username'>
  <input type="password" name=password>
  <button type="submit">Bem Vindo</button>
</form>
<a href="/cadastre"><button>Cadastre-se</button></a>