<form action="/cadastre" method="POST">
  <label>Nome</label>
  <input type="text" name='name'>
  <label >username</label>
  <input type="text" name='username'>
  <label>Senha</label>
  <input type="password" name="password">
  <button type="submit">Cadastre-se</button>
</form>